@import url("//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

.tt-navbar {
    background-color: #1d5454;
}

.tt-heading {
    color: #1d5454;
}

.navbar-dark .navbar-nav .nav-link {
    color: #cdcdcd;
}

.card {
    border-color: #1d5454;
}

.card-header {
    border-color: #1d5454;
    background-color: #ededed;
}

.btn {
    margin: 2px 0px;
}

/* TODO: Can probably find a better way to adjust the whole bootstrap theme */
.btn-success {
    background-color: #588157;
    border-color: #588157;
}

.btn-danger {
    background-color: #ef6461;
    border-color: #ef6461;
}

.btn-warning {
    background-color: #e4b363;
    border-color: #e4b363;
}

.btn-primary {
    background-color: #3f7eba;
    border-color: #3f7eba;
}

.btn-outline-success {
    color: #588157;
    border-color: #588157;
}

.btn-outline-danger {
    color: #ef6461;
    border-color: #ef6461;
}

.btn-outline-warning {
    color: #e4b363;
    border-color: #e4b363;
}

.btn-outline-primary {
    color: #3f7eba;
    border-color: #3f7eba;
}

.bg-success {
    background-color: #588157!important;
}

.bg-danger {
    background-color: #ef6461!important;
}

.bg-warning {
    background-color: #e4b363!important;
}

.bg-primary {
    background-color: #3f7eba!important;
}

.border-success {
    border-color: #588157!important;
    border-width: 2px!important;
}

.border-danger {
    border-color: #ef6461!important;
    border-width: 2px!important;
}

.border-warning {
    border-color: #e4b363!important;
    border-width: 2px!important;
}

.border-primary {
    border-color: #3f7eba!important;
    border-width: 2px!important;
}

.exercise-buttons {
    text-align: left;
}

.card-header a {
    color: inherit;
}

.dropdown-menu-scrollable {
    height: auto;
    max-height: 250px; 
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -moz-overflow-scrolling:touch;
    -ms-overflow-scrolling:touch;
    -o-overflow-scrolling:touch;
    overflow-scrolling:touch;
}

.cat_green {
    background-color: #588157;
    border-color: #588157;
    color: #ffffff;
}

.cat_green_outline {
    background-color: #ffffff;
    border-color: #588157;
    border-width: 2px;
    border-style: solid;
    color: #588157;
}

.cat_green_border_only, .cat_green_outline_border_only {
    border-color: #588157;
    border-width: 2px;
}

.cat_blue {
    background-color: #3f7eba;
    border-color: #3f7eba;
    color: #ffffff; 
}

.cat_blue_outline {
    background-color: #ffffff;
    border-color: #3f7eba;
    border-width: 2px;
    border-style: solid;
    color: #3f7eba;
}

.cat_blue_border_only, .cat_blue_outline_border_only {
    border-color: #3f7eba;
    border-width: 2px;
}	

.cat_red {
    background-color: #ef6461;
    border-color: #ef6461;
    color: #ffffff; 
}

.cat_red_outline {
    background-color: #ffffff;
    border-color: #ef6461;
    border-width: 2px;
    border-style: solid;
    color: #ef6461; 
}	

.cat_red_border_only, .cat_red_outline_border_only {
    border-color: #ef6461;
    border-width: 2px;
}	

.cat_yellow {
    background-color: #e4b363;
    border-color: #e4b363;
    color: #292b2c; 
}

.cat_yellow_outline {
    background-color: #ffffff;
    border-color: #e4b363;
    border-width: 2px;
    border-style: solid;
    color: #e4b363;
}

.cat_yellow_border_only, .cat_yellow_outline_border_only {
    border-color: #e4b363;
    border-width: 2px;
}

/* Classes for uncategorised when displaying the stats */
.Uncategorised {
    background-color: #ffffff;
    border-color: #292b2c;
    border-width: 2px;
    border-style: solid;
    color: #292b2c;
}
.Run {
    background-color: #ffffff;
    border-color: #292b2c;
    border-width: 2px;
    border-style: solid;
    color: #292b2c;
}
.Ride {
    background-color: #ffffff;
    border-color: #292b2c;
    border-width: 2px;
    border-style: solid;
    color: #292b2c;
}
.Swim {
    background-color: #ffffff;
    border-color: #292b2c;
    border-width: 2px;
    border-style: solid;
    color: #292b2c;
}

.featurette-image {
     border: 1px solid #B6DBCA;
}

.alt-featurette {
    background-color: #efefef;
}

.strava-link-img {
    max-height: 30px;
}

.jumbotron {
    background-color: #B6DBCA;
}

h1 {
    color: #1d5454;
}

h2 {
    color: #1d5454;
    margin-top: 20px; /* TODO: Bin these off and use the boostrap mt classes */;
}

h3 {
    color: #1d5454;
    margin-top: 20px;
}

h4 {
    color: #1d5454;
}

h5 {
    color: #1d5454;
    margin-top: 20px;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev {
  margin-left: -20px;
}

.carousel-control-next {
  margin-right: -20px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.form-error {
    color: #b40300;
}